@model LoginViewModel
@{
	ViewData["Title"] = "Đăng nhập";
}

<h2>Đăng nhập</h2>

<form asp-action="Login" method="post">
	@Html.AntiForgeryToken()
	<div>
		<label>Email:</label>
		<input asp-for="Email" />
		<span asp-validation-for="Email" class="text-danger"></span>
	</div>

	<div>
		<label>Mật khẩu:</label>
		<input asp-for="Password" type="password"/>
		<span asp-validation-for="Password" class="text-danger"></span>
	</div>

	<div>
		<input asp-for="RememberMe" /> Ghi nhớ đăng nhập
	</div>

	<button type="submit">Đăng nhập</button>
</form>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}